[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/esp-tflite-micro"]
	path = components/esp-tflite-micro
	url = https://github.com/espressif/esp-tflite-micro.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/u8g2-hal-esp-idf"]
	path = components/u8g2-hal-esp-idf
	url = https://github.com/mkfrey/u8g2-hal-esp-idf.git
